html {
    width: 8.5in;
}

body {
    font: 10pt/1.5 Vera;
}

.promissory_note {
    width: 100%;
    height: 9.2cm;
    padding: 0.5cm;
    border: 1px solid grey;
    margin-top: 0.25cm;
    page-break-inside: avoid;
}

.col1 {
    width: 60%;
    float: left;
}

.col1 .subtitle {
    margin-top: 0.5cm;
}

.col2 {
    width: 40%;
    float: right;
}

.notes {
    width: 100%;
    vertical-align: top;
}

.footer {
    width: 100%;
}

.title,
.subtitle,
.promisse,
.date {
    display: block;
}

.title,
.subtitle {
    font-weight: bold;
}

.block {
    margin-left: 0.25cm;
}

.title,
.promisse,
.date{
    text-align: center;
}

.title {
    font-size: 1.5em;
}

.value {
    background-color: #FFFFCC;
}

.promisse {
    width: 80%;
    margin-top: 0.75cm;
    margin-left: auto;
    margin-right: auto;
}

.signature {
    border-top: 1px solid black;
    margin-right: 0.5cm;
    width: 5cm;
    float: right;
    text-align: center;
}

.date {
    margin-top: 0.5cm;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25cm;
    margin-bottom: 0.5cm;
}

.clearfix {
    clear: both;
}
