<%page args="b" />
<%!
  from stoqlib.lib.formatters import (get_formatted_price,
                                      get_price_as_cardinal, get_full_date)

  f_currency = get_formatted_price
  f_currency_full = get_price_as_cardinal
  f_date = lambda d: d.strftime('%x')
  f_date_full = get_full_date
%>

<div class="promissory_note">

  <h1>${ _("Promissory Note") }</h1>

  <div class="left">
    <h2>${ _("Payment local") }</h2>
      <div class="block">
        % if b.drawer_document == '':
          ${ b.drawer }<br />
        % else:
          ${ "%s - %s" % (b.drawer, b.drawer_document) }<br />
        % endif
        ${ b.drawer_address[0] }<br />
        ${ b.drawer_address[1] }
      </div>
  </div> <!-- end div.left -->

  <div class="center">
    <h2>${ _("Issuer") }</h2>
      <div class="block">
        % if b.drawee_document == '':
          ${ b.drawee }<br />
        % else:
          ${ "%s - %s" % (b.drawee, b.drawee_document) }<br />
        % endif
        ${ b.drawee_address[0] }<br />
        ${ b.drawee_address[1] }
      </div>
  </div> <!-- end div.center -->

  <div class="right">
    <table class="notes">
      <tr>
        <th>${ _("Number:") }</th>
        <td>
          % if b.payment_number and b.order_identifier:
            ${ "%s / %s" % (b.order_identifier, b.payment_number) }
          % elif b.payment_number:
            ${ b.payment_number }
          % elif b.order_identifier:
            ${ b.order_identifier }
          % endif
        </td>
      </tr>
      <tr>
        <th>${ _("Emission date:") }</th>
        <td>${ f_date_full(b.emission_date) }</td>
      </tr>
      <tr>
        <th>${ _("Due date:") }</th>
        <td>${ f_date_full(b.due_date) }</td>
      </tr>
      <tr>
        <th>${ _("Value:") }</th>
        <td>${ f_currency(b.value) }</td>
      </tr>
    </table>
  </div> <!-- end div.right -->

  <br class="clearfix" />

  <div class="footer-promiss">
    <p class="promisse">
      ${ _("At the due date, I'll pay for this promissory note the "
          "amount of {value} to {drawer}.").format(value=f_currency_full(b.value),
                                                   drawer=b.drawer) }
    </p>
    <span class="date">
      ${ _("{emission_city}, {emission_date}").format(
          emission_city=b.emission_city,
          emission_date=f_date_full(b.emission_date)) }
    </span>
    <span class="signature">${ b.drawee }</span>
  </div> <!-- end div.footer -->

  <br class="clearfix" />

</div>
