*.swp
.#*#
#*#
*.pyc
*.pyo
*~

.coverage
.noseids
.wine-build-stoq-prefix
_build
_static
_templates
MANIFEST
StoqInstaller.exe
TAGS
build
coverage.xml
data/pixmaps/stoq.ico
dist
external/site.py
external/*.egg
external/easy-install.pth
nosetests.xml
locale
tags
