recursive-include data/csv *.csv
recursive-include data/csv/ibpt_tables *.csv
recursive-include data/glade *.ui
recursive-include data/misc *.gtkrc
recursive-include data/uixml *.xml
recursive-include data/html *.html *.css *.png *.js
recursive-include data/pixmaps *.png *.svg *.jpg *.gif *.bmp
recursive-include data/scripts *.py
recursive-include data/scripts *.sh
recursive-include data/sql *.sql *.py
recursive-include data/template *.html *.css
recursive-include docs *
recursive-include po *.po *.pot POTFILES.list
recursive-include plugins *.py *.ui *.sql *.plugin
recursive-include stoqlib *.txt
recursive-include tests *.html *.py *.txt *.uitest
include debian/changelog debian/clean debian/compat debian/control
include debian/copyright debian/pydist-overrides debian/rules debian/watch
include AUTHORS
include COPYING
include COPYING.stoqlib
include COPYING.pt_BR
include Makefile
include MANIFEST.in
include README
include INSTALL
include NEWS
include CONTRIBUTORS
include requirements.txt
include stoq.desktop
include stoq.spec
include data/br.com.stoq.createdatabase.policy
include __main__.py runtests.py
