recursive-include data/glade *.glade
recursive-include data/pixmaps *.jpg *.png
recursive-include data/config *.cfg
recursive-include locale stoq.mo
recursive-include po *.po *.pot POTFILES.list
include AUTHORS
include COPYING
include MANIFEST.in
include README
include NEWS
include INSTALL
include CONTRIBUTORS
include stoq.desktop
include debian/changelog debian/compat debian/copyright debian/control debian/rules
include stoq.spec
