include README
include NEWS
include AUTHORS
include ChangeLog
include COPYING
include stoqdrivers.spec
include debian/changelog debian/compat debian/copyright debian/control debian/rules
recursive-include stoqdrivers/conf *.ini
recursive-include po POTFILES.list stoqdrivers.pot *.po
recursive-include locale stoqdrivers.mo
