#number {
    font-weight: bold;
    font-size: 14pt;
    text-align: right;
    width: 100%;
}

#signature {
    float: right;
    text-align: center;
    width: 100mm;
    border-top: 1px solid black;
    margin-left: 1cm;
}
