<%inherit file="../base/base.html" />
<%namespace file="../base/base.html" import="header, setup_margin_labels" />

<%block name="extra_meta">
  ${ setup_margin_labels(title) }

  <style>
    #items .list td:nth-child(3),
    #items .list td:nth-child(4),
    #items .list td:nth-child(5) {
      text-align: right;
    }
  </style>
</%block>

<div class="page">
  ${ header(complete_header, title, report.get_subtitle(), notes) }
  <%include file="quote-details.html" />
  <%include file="quote-items.html" />
  <%include file="quote-notes.html" />
</div> <!-- end div.page -->
