<section class="measures">
  <table>
    <thead>
      <tr>
        <td>${ _("Saddle Height") }<br/>
          <span class="legend">(${ _("Center/Top") })</span></td>
        <td>${ _("Saddle/Stem Distance") }<br/>
          <span class="legend">(${ _("Saddle tip/Stem center") })</span></td>
        <td>${ _("Stem Height") }<br/>
          <span class="legend">(${ _("Fork tip/Stem top") })</span></td>
        <td>${ _("Time Started") }</td>
        <td>${ _("Time Finished") }</td>
      </tr>
    </thead>

    <tbody class="list">
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td class="separator"></td>
        <td></td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</section>
