#number {
    font-weight: bold;
    font-size: 14pt;
    text-align: right;
    width: 100%;
}

#metadata table {
    padding-bottom: 0.2cm;
}

#metadata td {
    border: 0;
    padding: 0.08cm 0.1cm;
}

#metadata td:nth-child(2n+1) {
    font-weight: bold;
    text-align: right;
}

#notice {
    padding: 0 0.75cm;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}

#signature {
    float: right;
    text-align: center;
    width: 100mm;
    border-top: 1px solid black;
    margin-left: 1cm;
}
