<%inherit file="../base/base.html" />
<%namespace file="../base/base.html" import="header, setup_margin_labels" />

<%block name="title_head">
  <title>${ title }</title>
</%block>

<%block name="extra_meta">
  <link rel="stylesheet" href="optical/optical.css" type="text/css" />
  ${ setup_margin_labels(title) }
</%block>

<div class="page">

  ${ header(complete_header, title, report.subtitle, notes) }

  <section id="client_receipt">
    <table class="details">
      <tbody>
        <tr>
          <td>${ _("Sale #") }:</td>
          <td>${ report.sale.identifier }</td>
          <td>${ _("Open Date") }:</td>
          <td>${ format_date(report.sale.open_date) }</td>
        </tr>
        <tr>
          <td>${ _("Client") }:</td>
          <td>${ report.sale.client.person.name }</td>
          <td>${ _("Sales Person") }:</td>
          <td>${ report.sale.salesperson.person.name }</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <td>${ _("Code") }</td>
          <td>${ _("Item") }</td>
          <td>${ _("Quantity") }</td>
          <td>${ _("Price") }</td>
          <td>${ _("Total") }</td>
        </tr>
      </thead>

      <tbody class="list">
        % for item in report.sale.get_items():
        <tr>
          <td>${ item.sellable.code }</td>
          <td>${ item.sellable.get_description() }</td>
          <td>${ format_quantity(item.quantity) }</td>
          <td>${ format_price(item.price) }</td>
          <td>${ format_price(item.get_total()) }</td>
        </tr>
        % endfor
        <tr class="summary">
          <td colspan="4">${ _("Total") }:</td>
          <td>${ format_price(report.sale.get_total_sale_amount()) }</td>
        </tr>
      </tbody>
    </table>
  </section>

  <hr />

% for workorder in report.workorders:
  <%
    optical_data = report.get_optical_data(workorder)
  %>
  <div class="workorder_details">
      <div class="optical_details">
        <%include file="opticaldetails.html" args="workorder=workorder, optical_data=optical_data"/>
      </div>
      <div class="optical_prescription">
        <%include file="prescription.html" args="workorder=workorder, optical_data=optical_data"/>
      </div>
  </div>
  <hr/>
% endfor

</div>
