Source: stoqdrivers
Section: python
Priority: optional
Maintainer: George Y. Kussumoto <george@async.com.br>
Build-Depends: debhelper (>= 4.2.28), cdbs, python-dev, python-support
Build-Depends-Indep: python-zopeinterface (>= 3.2.1), python-kiwi (>= 1.9.22), python-serial (>= 2.2)
Standards-Version: 3.8.0

Package: stoqdrivers
Architecture: all
Depends: python2.4, ${shlibs:Depends}, python-zopeinterface (>= 3.2.1), python-serial (>= 2.3), python-kiwi (>= 1.9.23)
Description: Fiscal driver collection
 This is a powerful collection of device drivers written in Python and totally
 focused on retail systems. Stoqdrivers also offers an unified API for devices
 like fiscal printers which makes it easy to embed in many applications.
 .
 Homepage: http://www.stoq.com.br


