Depends: stoqlib (>= 0.9.4-3), postgresql-client-common
Replaces: stoq
Conflicts: stoq
Description: Stoq Server and Administration tools
 Stoq is a suite of Retail Management System applications.
 It includes the following applications;
 Point of Sales, Cash register, Sales, Purchase Orders, Inventory control,
 Customer Relationship Management (CRM), Accounts Payable and
 Accounts Receivable, Printable Reports, Employees and Suppliers registry.
 .
 This packages includes the administration tools for  installing and
 configuring the database used by Stoq
Replaces: stoq
Provides: stoq
Conflicts: stoq
Description: Stoq Client
 Stoq is a suite of Retail Management System applications.
 It includes the following applications;
 Point of Sales, Cash register, Sales, Purchase Orders, Inventory control,
 Customer Relationship Management (CRM), Accounts Payable and
 Accounts Receivable, Printable Reports, Employees and Suppliers registry.
 .
 This packages includes the GTK+ based graphical user interfaces.

