#!/usr/bin/make -f

# Based upon instructions found at
# http://developer.ubuntu.com/packaging/html/python-packaging.html

#export DH_VERBOSE=1

%:
	dh $@ --buildsystem=python_distutils

# Do not compress .txt files
override_dh_compress:
	dh_compress -X.txt
