#!/usr/bin/make -f

# For reference, see:
#   https://wiki.debian.org/Python/Packaging
#   https://wiki.debian.org/Python/LibraryStyleGuide

# Pybuild run the test suit when building the package, but we don't need that
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --with python3 --buildsystem=pybuild


