% if report.return_sales:
<h4>${ _("Return Sales") }</h4>
    <table>
      <thead>
        <tr class="align-left">
          <td>${ _("Code") }</td>
          <td>${ _("Sales Person") }</td>
          <td>${ _("Client") }</td>
          <td>${ _("Return Date") }</td>
          <td class="align-right">${ _("Sale Value") }</td>
        </tr>
      </tdead>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
        % for sale in report.return_sales:
          <tr class="highlight">
            <td>${ sale.identifier }</td>
            <td>${ sale.salesperson }</td>
            <td>${ sale.client }</td>
            <td>${ format_date(sale.return_date) }</td>
            <td class="align-right">${ format_price(sale.value) }</td>
          </tr>
          <tr>
            <td colspan="6">
            <table class="subtable">
              <thead>
                <tr class="align-left">
                  <td>${ _("Code") }</td>
                  <td>${ _("Method") }</td>
                  <td>${ _("Description") }</td>
                  <td class="align-right">${ _("Payment Value") }</td>
                </tr>
              </thead>
              <tbody>

              % for sale_payment in report.return_sales[sale]:
              <tr class="align-left">
                <td>${ sale_payment.identifier }</td>
                <td>${ sale_payment.method.get_description()}</td>
                <td>${ sale_payment.description }</td>
                <td class="align-right">${ format_price(sale_payment.value) }</td>
              </tr>
              % endfor

              </tbody>
            </table>
          </tr>

        % endfor
      </tbody>
    </table>
% endif

