.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

tr.align-right td {
    text-align: right;
}

.highlight {
    text-align: left;
    background-color: #f1f1f1;
}

.highlight td {
    border-top: 2px solid black;
    border-bottom: 1px dotted black;
}

.highlight td:last-child {
    text-align: right;
}

.subrow {
    text-align: right;
    font-size: 8pt;
}

table.subtable {
    text-align: right;
    font-size: 8pt;
    padding-left: 1cm
}

table.subtable th {
    font-weight: bold;
}

table.subtable td {
    border: 0;
}


#summary > div {
    display: table-cell;
    padding: 5px;
}
