% if report.method_summary:
<h4>${ _("Per Payment Method") }</h4>
    <table class="list">
      <thead>
        <tr>
          <td>${ _("Payment Method") }</td>
          <td class="align-right">${ _("Income Total") }</td>
          <td class="align-right">${ _("Outcome Total") }</td>
        </tr>
      </tdead>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
        <%
            in_sum = 0
            out_sum = 0
        %>
        % for (method_name, in_value, out_value) in report.method_summary:
            <tr>
                <td>${ method_name }</td>
                <td class="align-right">${ format_price(in_value) }</td>
                <td class="align-right">${ format_price(out_value) }</td>
            </tr>
            <%
                in_sum += in_value
                out_sum += out_value
            %>
        % endfor

            <tr class="summary">
                <td><b>Total:</b></td>
                <td  class="align-right"><b>${ format_price(in_sum) }</b></td>
                <td  class="align-right"><b>${ format_price(out_sum) }</b></td>
            </tr>

      </tbody>
    </table>
% endif
