<%inherit file="../base/base.html" />
<%namespace file="../base/base.html" import="header, setup_margin_labels" />

<%block name="title_head">
  <title>${ title }</title>
</%block>

<%block name="extra_meta">
  <link rel="stylesheet" href="workorder/workorder.css" type="text/css" />
  ${ setup_margin_labels(title) }
</%block>

<div class="page">

  ${ header(complete_header, title, report.subtitle, notes) }

  <table class="details">
    <tbody>
      <tr>
        <td>${ _("Equipment") }:</td>
        <td colspan=3>${ report.workorder.equipment }</td>
      </tr>
      <tr>
        <td>${ _("Client") }:</td>
        <td>${ report.workorder.client.person.name }</td>
        <td>${ _("Estimated cost") }:</td>
        <td>${ format_price(report.workorder.estimated_cost) if \
               report.workorder.estimated_cost else '' }</td>
      </tr>
      <tr>
        <td>${ _("Estimated start") }:</td>
        <td>${ format_date(report.workorder.estimated_start) }</td>
        <td>${ _("Estimated finish") }:</td>
        <td>${ format_date(report.workorder.estimated_finish) }</td>
      </tr>
    </tbody>
  </table>

  <section id="notice">
    <span>${ _("Quote") }:</span>
    <pre>${ report.workorder.defect_detected }</pre>
  </section>

  % if report.workorder.quote_responsible:
    <section class="signatures">
      <p>&nbsp;</p> <!-- little trick to make the signatures be in a new page
                         if there is not enough space -->
      <span class="signature">
        <b>${ _("Responsible signature") }</b><br />
        ${ report.workorder.quote_responsible.get_description() }<br />
      </span>
    </section>
  % endif
</div>
