#notice {
    padding: 0 0.75cm;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}

#notice span {
    font-weight: bold;
}

#notice pre {
    margin-left: 0.2cm;
}

section.signatures {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
}
