<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>Stoq Project</vendor>
  <vendor_url>http://www.stoq.com.br/</vendor_url>
  <icon_name>stoq</icon_name>

  <action id="br.com.stoq.createdatabase.createuser">
    <description>Creation of a database user for Stoq</description>
    <description xml:lang="pt_BR">Criação de um usuário para banco de dados do Stoq</description>
    <message>System policy prevents the creation of a database user</message>
    <message xml:lang="pt_BR">A política do sistema impede criação de um usuário banco de dados do Stoq</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/stoqcreatedbuser</annotate>
  </action>
</policyconfig>
