body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(top.png) repeat-x;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #666666;
}

h1, h2,
h1 a, h2 a {
    color: #204a87;
    text-decoration: none;
}

a {
    color: #3465a4;
}

img {
    border: none;
}

p {
    margin-left: 22px;
    line-height: 1.2em;
}

/* Header */

#header {
    width: 750px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}

/* Logo */

#logo {
    float: left;
    text-align: center;
}

#logo h1, #logo h2 {
    margin: 0;
}

#logo h1 {
    padding-top: 40px;
    font-size: 4em;
    color: #554D49;
}

#logo h2 {
    margin-top: -10px;
    padding-left: 1px;
    font-size: 1.2em;
    color: #7F7772;
}

/* Menu */

#menu {
    float: right;
    background: transparent url(menu.png) no-repeat;
    background-position: 0px 58px;
    width: 650px;
}

#menu ul {
    margin: 0;
    padding: 52px 0 0 0;
    list-style: none;
}

#menu li {
    display: inline;
    display: block;
    float: left;
    width: 650px;
    height: 70px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    color: white !important;
}

/* Page */

#page {
    width: 750px;
    margin: 0 auto;
    padding-top: 20px;
}

#main-content {
    float: left;
    width: 400px;
}

#right-content {
    float: right;
    width: 200px;
    padding: 12px 0 0 30px;
    border-left: 1px dashed #ccc;
    margin-bottom: 25px;
}

#right-content .post {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 15px;
}

#right-content h2 {
    font-size: 1.2em;
}

#main-content .title {
    margin: 0;
}

#main-content h2 {
}

#main-content .entry {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

#main-content .icon,
#right-content .icon {
   float: left;
   margin-right: 5px;
}

/* sections */

#sections {
    clear: both;
    width: 750px;
    margin-top: 20px;

    border-top: 1px dashed #ccc;
}

#sections ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sections li {
    display: block;
    float: left;
    width: 180px;
    padding-top: 10px;
}

#sections ul.first > li {
    height: 200px;
}

#sections ul.first > li div{
    height: 100%;
    padding-top: 10px;
}

#sections li ul {
    line-height: 1.8em;
    margin-left: 30px;
}

#sections li li {
    display: list-item;
    float: none;
    width: auto;
    padding: 0;
}

#sections h2 {
    margin: 0 0 15px 0;
    color: #3465a4;
    font-size: 1.2em;
}

#sections h2 a {
    color: #3465a4;
}

#sections a {
    text-decoration: none;
    font-weight: bold;
    color: #729fcf;
}

#sections .icon {
   float: left;
   margin-right: 7px;
}

/* Footer */

#footer {
    width: 750px;
    height: 100px;
    margin: 0 auto;
}

#footer p {
    margin: 0;
    padding: 15px;
}

#legal {
    text-align: center;
}
